.btn-group .btn {
  border-radius: 0;
}
.btn-group .btn:first-child {
  border-right: none;
}
.btn-group .btn:last-child {
  border-left: none;
}
.btn-group .btn.dropdown-toggle {
  border-radius: 0;
}
